# Declare files for git to ignore.
# Reference: https://www.atlassian.com/git/tutorials/saving-changes/gitignore
#

# ignore eclipse project files
.classpath
.project
.settings

# ignore IntelliJ project files
.iml
.idea

# ignore Mac's .DS_Store files
**/.DS_Store

# ignore generated directories and compiled output
bin
target
**/*.class
**/*.jar

# ignore log files
**/*.log

# ignore archives
*.7z
*.gz
*.rar
*.tar
*.zip
